@{
    ViewData["Title"] = "render data view model tutorial";
}

<a href="/RenderData/ViewDataDemo/">ViewData</a>
<a href="/RenderData/ViewBagDemo/">ViewBag</a>
<a href="/RenderData/ViewModelDemo/">ViewModel</a>


