@page
@model IndexModel
@{
   ViewData["Title"] = "HelloIndex";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>静的なページ</p>
    <a href="/ControllerNky/hello/">コントローラNky</a>
    <br /><a href="/Movies">Movies</a>
    <br /><a href="/tcash/hello/">tcashコントローラ</a>
    <br /><a href="/RenderData/">tcashRenderDataController</a>

</div>

